<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交信息</title>
</head>
<body>
<form action="" method="post">
    <table>
        <tr>
            <td><input type="number" name="id" placeholder="ID" maxlength="20"></td>
        </tr>
        <tr>
            <input type="password" name="psw" placeholder="密码" maxlength="20">
        </tr>
        <tr>
            <input type="number" name="age" placeholder="年龄" maxlength="20">
        </tr>
        <tr>
            <td>邮箱</td>
            <input type="number" name="age" placeholder="年龄" maxlength="20">
        </tr>
        <tr>
            <td>年龄</td>
            <input type="number" name="age" placeholder="年龄" maxlength="20">
        </tr>
        <tr>
            <button type="submit">提交</button>
            <td><a href="#" onclick="return valForm()">注册</a> <a href="">重填</a></td>
        </tr>
    </table>
</form>

<script type="text/javascript" language="javascript">

    获取值
    function valForm(){
        var userName=document.getElementById("userName");
        var pwd=document.getElementById("pwd");
        var repwd=document.getElementById("repwd");
        var email=document.getElementById("email");
        var age=document.getElementById("age");
        if(userName.value==""){
            alert("用户名不能为空");
            return false;
        }else if(userName.value.lenth<4||userName.value.lenth>16){
            alert("用户名长度不符合要求\n用户名长度为4-16个字符");
            return false;
        }else if(pwd.value!=repwd.value){
            alert("两次密码不一致");
            return false;
        }
        else if(email.value.indexOf(".")<0||email.value.indexOf("@")<0){
            alert("邮箱名错误")
            return false;
        }else if(parseInt(age.value)<18||parseInt(age.value)>80){
            alert("不符合年龄");
            return false;
        }else{
            document.forms[0].action="abc.html";
            document.forms[0].submit();
            return false;
        }
    }

</script>